# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/

# OS system files
.DS_Store
Thumbs.db
